.footer {
  background-color: #030a1a;
  flex: 0 0 auto;
}

.footer__container {
  width: 85%;
  margin: 0 auto;
  max-width: 1160px;
  padding-top: 42px;
  padding-bottom: 38px;
  display: flex;
  align-items: center;
}

.footer__list {
  max-width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__item {
  margin-right: 40px;

  &:first-child {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__main-link {
  margin-right: 24%;
}

.footer__main-link svg {
  width: 89px;
  height: 20px;
}

.footer__link {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__social-item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-icon {
  width: 24px;
  height: 13px;

  &--insta {
    height: 24px;
  }

  &--fb {
    width: 12px;
    height: 24px;
  }
}

.footer__social-link {
  &:hover .footer__social-icon {
    opacity: 0.6;
  }

  &:active .footer__social-icon {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .footer__container {
    width: 88%;
    padding-top: 45px;
    padding-bottom: 41px;
  }

  .footer__main-link {
    margin-right: 9%;
  }

  .footer__main-link svg {
    width: 82px;
    height: 17px;
  }

  .footer__list {
    max-width: 400px;
  }

  .footer__item {
    margin-right: 31px;
  }

  .footer__social-item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    width: 91%;
    padding-top: 50px;
    padding-bottom: 46px;
    flex-wrap: wrap;
  }

  .footer__main-link {
    display: none;
    margin: 0;

    &--mobile {
      display: block;
    }
  }

  .footer__main-link svg {
    width: 68px;
    height: 15px;
  }

  .footer__list {
    width: 84%;
    max-width: auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__item {
    width: 34%;
    margin-right: 0;
    margin-bottom: 20px;

    &:first-child {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--stock {
      order: 1;
    }

    &--service {
      order: 2;
    }

    &--trainers {
      order: 3;
    }

    &--membership {
      order: 4;
    }

    &--timetable {
      order: 5;
    }
  }

  .footer__link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__social-list {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }

  .footer__social-item {
    margin-right: 36px;
  }

  .footer__social-icon {
    width: 32px;
    height: 17px;

    &--insta {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }
  }
}
