.membership {
  background: url("../img/barbell-desktop.png"), linear-gradient(to top, #ffffff 7.5%, #f8f9fc 7.5%);
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, center;
  background-position-y: 507px, top;
}

.membership__container {
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.membership h2 {
  font-family: $second-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  text-align: center;
  width: 80%;
  margin: 0;
  margin-bottom: 35px;
}

.membership__tabs {
  margin: 0 auto;
  margin-bottom: 38px;
  padding-bottom: 11px;
  display: inline-flex;
  justify-content: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.membership__tab-button {
  font-family: $main-font;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 47px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.membership__tab-button--active {
  color: #102654;
  cursor: default;
  position: relative;
  outline: none;

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d10a42;
    position: absolute;
    left: 0;
    top: 41px;
  }

  &:hover {
    opacity: 1;
  }
}

.membership__type-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: space-between;

  &--active {
    display: flex;
  }
}

.membership__type-item {
  width: 31%;
  background-color: #ffffff;
}

.membership__type-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 68px;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 7px solid;
    border-image: linear-gradient(to right bottom, red, blue);
    border-image-slice: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.membership__type-link h3 {
  font-size: 26px;
  line-height: 29px;
  font-style: normal;
  font-weight: bold;
  color: #102654;
  margin: 0;
  margin-bottom: 10px;
}

.membership__time {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #495A7D;
  margin-bottom: 65px;
}

.membership__shadow {
  font-size: 100px;
  line-height: 150px;
  font-style: normal;
  font-weight: bold;
  color: #e8e8e8;
  opacity: 0.48;
  position: absolute;
  top: 137px;
}

.membership__price {
  font-size: 60px;
  line-height: 90px;
  font-style: normal;
  font-weight: bold;
  color: #103AAE;
  margin-bottom: 35px;
  z-index: 5;
}

.membership__buy {
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #102654;
  background-color: transparent;
  padding: 23px 12%;
  border: 2px solid #102654;
}

.membership__type-link:hover {
  & .membership__buy {
    background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    color: #ffffff;
    border-color: inherit;
  }

  &::after {
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .membership {
    background: url("../img/barbell-tablet.png"), linear-gradient(to top, #ffffff 5%, #f8f9fc 5%);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, center;
    background-position-y: 1461px, top;
  }

  .membership__container {
    width: 88%;
    padding-top: 100px;
    padding-bottom: 190px;
  }

  .membership h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  .membership__tabs {
    margin-bottom: 45px;
  }

  .membership__tab-button {
    font-size: 18px;
    line-height: 27px;
    margin-right: 55px;
  }

  .membership__type-list {
    flex-direction: column;
    align-items: center;
  }

  .membership__type-item {
    width: 65.5%;
    margin-bottom: 39px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .membership__tab-button--active::after {
    top: 38px;
  }

  .membership__buy {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (max-width: $mobile-width) {
  .membership {
    background-color: #f8f9fc;
    background-image: none;
  }

  .membership__container {
    width: 91%;
    padding-top: 68px;
    padding-bottom: 70px;
  }

  .membership h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 23px;
  }

  .membership__tab-button {
    font-size: 16px;
    line-height: 24px;
    margin-right: 46px;
  }

  .membership__tab-button--active::after {
    top: 35px;
  }

  .membership__type-item {
    width: 100%;
    margin-bottom: 46px;
  }

  .membership__type-link {
    padding-top: 40px;
    padding-bottom: 55px;
  }

  .membership__type-link h3 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 9px;
  }

  .membership__time {
    margin-bottom: 54px;
  }

  .membership__shadow {
    font-size: 80px;
    line-height: 120px;
    top: 107px;
  }

  .membership__price {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 31px;
  }

  .membership__buy {
    padding-right: 15%;
    padding-left: 15%;
  }
}
