.review__container {
  width: 85%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 118px;
  padding-right: 13%;
  padding-bottom: 120px;
  padding-left: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.review h2 {
  font-family: $second-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 52px;
}

.review__slider-container {
  width: 100%;
  max-width: 673px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review__swiper-container {
  width: 560px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.review__slide {
  width: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}

.review__button-prev,
.review__button-next {
  position: static;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;

  &::after {
    display: none;
  }

  & svg {
    width: 16px;
    height: 32px;
  }
}

.review__button-prev:hover,
.review__button-next:hover {
  & svg {
    opacity: 0.6;
  }
}

.review__button-prev:active,
.review__button-next:active {
  & svg {
    opacity: 0.4;
  }
}

.review__card {
  width: 560px;
  display: flex;
  padding-top: 62px;
  padding-right: 62px;
  padding-bottom: 58px;
  padding-left: 60px;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.review__card img {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 7%;
}

.review__card h3 {
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-bottom: 14px;
}

.review__card blockquote {
  width: 330px;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .review__container {
    width: 88%;
    padding-top: 100px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }

  .review h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 40px;
  }

  .review__slider-container {
    width: 675px;
  }

  .review__swiper-container {
    width: 566px;
  }

  .review__card {
    width: 566px;
    padding-right: 60px;
    padding-left: 65px;
  }
}

@media (max-width: $mobile-width) {
  .review__container {
    width: 91%;
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 0;
  }

  .review h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 42px;
  }

  .review__slider-container {
    width: 100%;
  }

  .review__swiper-container {
    width: 90%;
  }

  .review__slide {
    width: 100%;
  }

  .review__card {
    width: 87%;
    margin: 0 auto;
    padding-top: 51px;
    padding-right: 25px;
    padding-bottom: 36px;
    padding-left: 25px;
    position: relative;
  }

  .review__card img {
    width: 68px;
    height: 68px;
    position: absolute;
    transform: translateY(-50%);
    top: 22%;
    left: 40px;
  }

  .review__card blockquote {
    width: 100%;
    text-align: center;
  }

  .review__card h3 {
    line-height: 24px;
    margin-bottom: 24px;
    margin-left: 99px;
    text-align: left;
  }
}
