.review__slider-container {
  width: 100%;
  max-width: 673px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review__swiper-container {
  width: 560px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.review__slide {
  width: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;

  &::after {
    display: none;
  }

  & svg {
    width: 16px;
    height: 32px;
  }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  & svg {
    opacity: 0.6;
  }
}

.swiper-button-prev:active,
.swiper-button-next:active {
  & svg {
    opacity: 0.4;
  }
}

@media (max-width: $tablet-width) {
  .review__slider-container {
    max-width: 100%;
  }

  .review__swiper-container {
    width: 566px;
  }
}

@media (max-width: $mobile-width) {
  .review__slider-container {
    width: 100%;
  }

  .review__swiper-container {
    width: 90%;
  }

  .review__slide {
    width: 100%;
  }
}
