.trainers__container {
  width: 93%;
  max-width: 1272px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 120px;
}

.trainers h2 {
  font-family: $second-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0;
  margin-bottom: 52px;
  margin-left: 4.5%;
}

.trainers__slider-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trainers__swiper-container {
  width: 91.3%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.trainers__wrapper {
  display: flex;
  width: 100%;
}

.trainers__slide {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;

  &:hover .trainers__popup {
    display: flex;
  }
}

.trainers__button-prev,
.trainers__button-next {
  position: static;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;

  &::after {
    display: none;
  }

  & svg {
    width: 16px;
    height: 32px;
  }
}

.trainers__button-prev:hover,
.trainers__button-next:hover {
  & svg {
    opacity: 0.6;
  }
}

.trainers__button-prev:active,
.trainers__button-next:active {
  & svg {
    opacity: 0.4;
  }
}

.trainers__slide-title {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin: 0;
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.trainers__slide img {
  display: block;
  width: 100%;
  height: 294px;
  z-index: -1;
}

.trainers__popup {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(16, 38, 84, 0.89);
  position: absolute;
  top: 0;
  left: 0;
}

.trainers__popup h3 {
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.trainers__popup span {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #b6bdcc;
  margin-bottom: 28px;
}

.trainers__popup-list {
  width: 65%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trainers__popup-item {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 14px;
  padding-left: 26px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 7px;
    left: 10px;
  }
}

@media (max-width: $tablet-width) {
  .trainers__container {
    width: 88%;
    padding-top: 68px;
    padding-bottom: 100px;
  }

  .trainers h2 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 41px;
    margin-left: 0;
  }

  .trainers__swiper-container {
    width: 84%;
  }
}

@media (max-width: $mobile-width) {
  .trainers__container {
    width: 91%;
    padding-top: 38px;
    padding-bottom: 69px;
  }

  .trainers h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 43px;
  }

  .trainers__swiper-container {
    width: 78%;
  }

  .trainers__slide img {
    height: 274px;
  }

  .trainers__popup {
    padding-top: 42px;
  }

  .trainers__popup-list {
    width: 78%;
  }
}
