@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed400.woff2") format("woff2"), url("../fonts/robotocondensed400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/robotocondensed300.woff2") format("woff2"), url("../fonts/robotocondensed300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensed700.woff2") format("woff2"), url("../fonts/robotocondensed700.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/bebasneue400.woff2") format("woff2"), url("../fonts/bebasneue400.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/bebasneue700.woff2") format("woff2"), url("../fonts/bebasneue700.woff") format("woff");
}
